.login{
  //height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 496px;
    height: 516px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(10, 13, 39, 0.05);
    border-radius: 8px;
  }
  &__title{
    width: 400px;
    margin-top: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #0A0D27;
  }
  &__fields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    height: 160px;
  }
  &__button{
    margin-top: 92px;
  }
  &__text{
    width: 400px;
    margin-top: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #0A0D27;
  }
  &__footer{
    margin-top: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #757A9E;
  }
  &__image{
    width: 18px;
    position: absolute;
    margin-top: 130px;
    margin-left: 367px;
  }
}