.input{
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  width: 400px;
  margin-top: 24px;
  //height: 68px;
  &__title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #0A0D27;
    margin-bottom: 8px;
  }
  &__field{
    padding-left: 12px;
    height: 42px;
    border: 1px solid #D6DADE;
    border-radius: 4px;
  }
}