.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 496px;
    height: 609px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(10, 13, 39, 0.05);
    border-radius: 8px;
  }
  &__title{
    width: 400px;
    margin-top: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #0A0D27;
  }
  &__fields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    height: 271px;
  }
  &__fieldsHorizontally{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
  }
  &__hint{
    margin-top: 164px;
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #757A9E;
  }
  &__checkbox{
    margin-top: 40px;
    width: 400px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #0A0D27;
  }
  &__checkboxItem{
    border: 1px solid #D6DADE;
    border-radius: 4px;
  }
  &__button{
    margin-top: 16px;
    height: 40px;
    width: 400px;
    background: #EAEAEA;
    border: solid 1px;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: rgba(117, 122, 158, 0.34);
  }
  &__text{
    width: 400px;
    margin-top: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #0A0D27;
  }
  &__footer{
    margin-top: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #757A9E;
  }
}