.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-left: 24px;
  padding-right: 16px;
  background: white;
  &__logo{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #1343EA;
    border: 1px solid #FFFFFF;
    text-shadow: white 3px 3px, black 3.5px 3px, black 2.5px 3px, black 3px 3.5px, black 3px 2.5px;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
  &__login{
    width: 83px;
    height: 40px;
    background-color:#fff;
    border: 1px solid #D6DADE;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #0A0D27;
    margin-right: 8px;
  }
}